<div class="p-3  bg-secondary text-white">
<h2><%= @customer.full_name %>さんの会員詳細</h2>
</div>

<br />
<div>
  <p>会員id<br /><%= @customer.id %></p>
  <p>氏名<br /><%= @customer.full_name %></p>
  <p>フリガナ<br /><%= @customer.last_name_kana + @customer.first_name_kana %></p>
  <p>郵便番号<br /><%= @customer.postal_code %></p>
  <p>住所<br /><%= @customer.address %></p>
  <p>電話番号<br /><%= @customer.telephone_number %></p>
  <p>メールアドレス<br /><%= @customer.email %></p>
  <p>会員ステータス<br /><%= @customer.is_active ? "有効" : "退会" %> </p>
</div>

<%= link_to "編集する", edit_admin_customer_path, class:"btn btn-success" %>

<%= link_to "注文履歴一覧を見る", admin_path, class:"btn btn-primary" %>

