<br />
<h3 class="text-center">商品一覧</h3>
<br />
<div class="container">
 <div class="row">
  <div class="d-flex justify-content-center">
   <% @items.each do |item| %>
    <div class="text-center" style="margin-right: 20px">
     <%= link_to item_path(item.id) do %>
     <%= image_tag item.get_item_image(100, 100) %>
     <% end %>
     <p><%= item.name %></p>
     <p>￥<%= item.price.to_s(:delimited) %></p>
    </div>
   <% end %>
  </div>
 </div>
</div>


<%= paginate @items %>