<div class="text-center">
<%= image_tag @item.get_item_image(100, 100) %><br />
 <%= @item.name %><br />
 <%= @item.introduction %><br />
 ¥<%= (@item.price*1.1).to_i %>(税込)


<%= form_with model: @cart_item ,url: cart_items_path, method: :post do |f| %>
  <%= f.hidden_field :item_id, :value => @item.id %><br />
  <%= f.select :amount, [*1..10], {include_blank: "個数を選択して下さい"} %><br />
<br />
  <%= f.submit 'カートに入れる', class: "btn btn-success"%>
<% end %>

</div>